doctype html
html
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Tasker
   body
      h1 Tasker
      h3#vpnStatus
      h3#checkinPoints
      script(src='js/bundle.js')