doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='css/main.css', rel='stylesheet')
		title Tasker
	body
		h1 Tasker
		.wrapper
			.card
				.card_title VPN Status
				.card_content
					#vpnStatus.status
					#vpnStatusDate
			.card
				.card_title Banggood Points
				.card_content
					#checkinPoints.status
					#checkinPointsDate
			.card
				.card_title Network Snapshot
				.card_content
					a(href='images/latest.png') Latest
					#snapshotDate
					button.btn(onclick='triggerSnapshot()') Take Snapshot
			.card
				.card_title Stock Watch
				.card_content
					label(for='stock') Stock:&nbsp
					input#stock(size='4')
					.col2
						.right Watch Price: 
						span#watchPrice.left
						.right Current Price: 
						span#currentPrice.left
						.right Change: 
						span#change.left
					button.btn(onclick='getQuote()') Get Quote
		script(src='js/bundle.js')