.wrapper {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-gap: 1em;
   /* grid-auto-rows: minmax(100px, auto); */
   padding: 10px;
}
.card {
   background-color: #ccc;
   text-align: center;
}
.card_title {
   font-weight: bold;
   font-size: large;
   font-style: italic;
   padding: 10px;
   text-align: center;
}

.right {
   text-align: right;
}
.bad {
   color: red;
}

.good {
   color: green;
}
.date {
   font-size: 90%;
   font-style: italic;
}
.status {
   font-size: 110%;
   font-weight: bold;
}