:root {
   --cols: 1;
	--color-background: hsl(240, 3%, 7%);
	--color-dark: #333;
	--color-dark2: #121213;
	--color-lgray: #ddd;
	--color-dgray: #ccc;
	--color-blue: #534FA6;
}
@media screen and (min-width: 480px) {
   :root {
      --cols: 2;
   }
}
@media screen and (min-width: 768px) {
   :root {
      --cols: 3;
   }
}

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--color-dark);
	text-decoration: none;
}
/* a {
	text-decoration: none;
} */
.wrapper {
   display: grid;
   grid-template-columns: repeat(var(--cols), 1fr);
   grid-gap: 1em;
   /* grid-auto-rows: minmax(100px, auto); */
}
.card {
	text-align: center;
	border-radius: 5px;
}
.card_title {
   font-weight: bold;
   font-size: large;
   font-style: italic;
   padding: 10px;
   text-align: left;
	border-radius: 5px 5px 0px 0px;
}
.card_title span{
	margin: 0px 5px 0px 0px;
}
.card_content {
	padding: 10px;
}
.card_content > * {
	padding: 5px;
}
.col2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	align-items: center;
   /* grid-auto-rows: minmax(100px, auto); */
}
.right {
   text-align: right;
}
.float_right {
   float: right;
}
.left {
   text-align: left;
}
.bad {
   color: red;
}

.good {
   color: green;
}
h1 {
   color: #ddd;
}
.date {
   font-size: 90%;
   font-style: italic;
}
.status {
   font-size: 110%;
   font-weight: bold;
}
#spinner {
	font-size: 2em;
}
.btnBig {
	font-size: 1.1em;
	font-weight: bold;
	padding: .5em 1.2em;
	background-color: #E8E695;
	border-radius: 5%;
	border: none;
}
.btnSmall {
	/* font-size: 1.1em; */
	font-weight: bold;
	padding: .75em 1.1em;
	background-color: #E8E695;
	border-radius: 5%;
	border: none;
}
.btnRecord{
	/* display:inline-block; */
	font-size: 1.1em;
	font-weight: bold;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background-color: #BD2032;
	color: white;
	border: none;
}
.blinking{
	animation: blinker 1s linear infinite;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}
.control {
	border-radius: 40%;
	border-style: none;
}
.modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	overflow: auto;
}
.modal-content{
	width: 70%;
	margin: 20% auto;
	padding: 20px;
	background-color: var(--color-lgray);
	border-radius: 5%;
}
.btn-group{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	justify-content: center;
}
.list {
	list-style: none;
	font-size: 1.1em;
	/* font-weight: bold; */
	padding:0px;
	
}
.list li {
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}
.nodisplay{
	display: none;
}
.color-primary {
	background-color: var(--color-dgray);
	color: black;
}
.color-secondary {
	background-color: var(--color-blue);
	color: white;
}